.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 4.2rem;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  max-width: 70rem;
  gap: 7rem;
}

.title {
  position: relative;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.titleDis {
  margin: 0;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.line {
  position: absolute;
  height: .15rem;
  bottom: -1rem;
  left: 3.5rem;
  right: 3.5rem;
  background-color: var(--global-color-primary);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pic {
  position: relative;
  display: flex;
  width: 43%;
  height: 100%;
}

.laptop {
  width: 100%;
  height: max-content;
  min-height: 15rem;
  object-fit: cover;
  border: 2px solid var(--global-color-primary);
}

.phone {
  display: flex;
  position: absolute;
  object-fit: contain;
  height: max-content;
  width: 8vw;
  max-width: 7rem;
  right: -3rem;
  bottom: -1rem;
  z-index: 4;
  border: 2px solid var(--global-color-primary);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 43%;
  height: 100%;
  gap: 2vw;
}

.projectName {
  margin: 0;
  margin-bottom: -1rem;
  font-size: 2rem;
}

.dis {
  margin: 0;
  font-size: 1.3rem;
}

.skills {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.skill {
  font-size: 1rem;
  border-radius: 1rem;
  padding: .5rem;
  background-color: var(--global-color-lighter);
}

.projectLink {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.visitSite {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.4rem;
}

.visitSite span:nth-child(1) {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 30%;
  height: .1rem;
  background-color: white;
  transition: all .5s ease;
}

.visitSite:hover span:nth-child(1) {
  width: 100%;
  transition: all .5s ease;
}


@media only screen and (max-width: 1024px) and (min-width: 640px) {
  .container {
    width: 85%;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
  }

  .pic {
    width: 100%;
    height: max-content;
  }

  .phone {
    max-width: initial;
    width: 20vw;
    right: -5%;
    bottom: -1rem;
  }

  .details {
    width: 100%;
  }
} 

@media only screen and (max-width: 640px) and (min-width: 480px) { 
  .container {
    width: 90%;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
  }

  .pic {
    width: 100%;
  }

  .phone {
    display: none;
  }

  .details {
    width: 100%;
    gap: 2rem;
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) { 
  .container {
    width: 95%;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
  }

  .title {
    font-size : clamp(1rem, 9vw, 2.1rem);
  }

  .titleDis {
    font-size : clamp(1rem, 6.8vw, 2rem);
  }

  .pic {
    width: 100%;
  }

  .laptop {
    object-fit: cover;
    height: min-content;
  }

  .phone {
    display: none;
  }

  .details {
    width: 100%;
    gap: 1.5rem;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: min-content;
    min-width: initial;
    gap: 0 .3rem;
  }

  .skill {
    display: block;
    font-size: 1rem;
    padding: .3rem;
  }

  .projectLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 5%;
  }

  .visitSite {
    font-size: 1.2rem;
  }
}