:root {
  --global-color-primary: #6ec1e4;
  --global-color-secondary: #121f30;
  --global-color-lighter: #1e3553;
  --global-color-hover: #73d622;
  --global-color-ReallyLight: rgb(104, 206, 206);
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  color: rgb(255, 255, 255);
}

html,
body {
  background-color: var(--global-color-secondary) !important;
}
