.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  max-width: 80rem;
  height: 100vh;
  padding-top: 4.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: .3rem;
}

.h1C {
  height: max-content;
  margin-bottom: .5rem;
  max-height: 5rem;
  transition: all .3s ease;
  overflow: hidden;
}

.pC {
  height: 26px;
  transition: all .3s ease;
  overflow: hidden;
}

@keyframes headerH1c {
  from {
    margin-top: 4.5rem;
  }

  to {
    margin-top: 0;
  }
}

.title {
  display: flex;
}

.content h1 {
  display: flex;
  font-size: 4rem;
  font-weight: 100;
  margin: 0;
  margin-top: 4.5rem;
  animation: 1.1s ease-in-out headerH1c forwards;
  animation-delay: 1.3s;
}

.content p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  animation: 1.1s ease-in-out headerH1c forwards;
  animation-delay: 1.3s;
}

.contactLink {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 12rem;
  height: 3rem;
  font-size: 1.2rem;
  color: var(--global-color-primary);
  border: .1rem solid var(--global-color-primary);
  text-decoration: none;
  transition: all .4s ease;
  overflow: hidden;
  z-index: 2;
}

.contactLink:hover {
  color: white;
  transition: all .8s ease;
}

.contactLink span:nth-child(1) {
  position: absolute;
  width: 12rem;
  height: 3rem;
  left: -13.5rem;
  background-color: var(--global-color-primary);
  transition: all .4s ease;
  z-index: -1;
}

.contactLink span:nth-child(2) {
  position: absolute;
  width: 2rem;
  height: 3.4rem;
  left: -2.5rem;
  bottom: -.8rem;
  transform: rotate(-30deg);
  background-color: var(--global-color-primary);
  transition: all .4s ease;
  z-index: -1;
}

.contactLink:hover span:nth-child(1) {
  left: 0rem;
  transition: all .8s ease;
}

.contactLink:hover span:nth-child(2) {
  left: 11rem;
  transition: all .8s ease;
}

.socialLink {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  right: 0rem;
  top: 10rem;
  gap: .3rem;
}

.socialLink a {
  color: white;
}

.socialLink li a * {
  width: 2rem;
  height: 2rem;
}

.spin {
  position: absolute;
  width: 1.8rem;
  height: 3.5rem;
  bottom: 5rem;
  cursor: pointer;
}

.spin span:nth-child(1) {
  position: absolute;
  width: 1.8rem;
  height: 3.5rem;
  bottom: .1rem;
  border: 2px solid var(--global-color-primary);;
  border-radius: 1rem;
}

.spin span:nth-child(2) {
  position: absolute;
  width: .2rem;
  height: .8rem;
  top: .3rem;
  left: .83rem;
  background-color: white;
  border-radius: 1rem;
  transition: all .5s ease;
}

@keyframes scroller {
  from {
    top: .3rem;
  }
  
  to {
    top: 2rem;
  }
}

@keyframes mouce {
  from {
    bottom: 1.8rem;
  }
  
  to {
    bottom: 0;
  }
}

.spin span:nth-child() {
  animation: 1s infinite alternate mouce;
  animation-delay: 2s;
  transition: all .5s ease;
}

.spin span:nth-child(2) {
  animation: 1s infinite alternate scroller;
  animation-delay: 1.5s;
  transition: all .5s ease;
}

@media only screen and (max-width: 1024px) and (min-width: 640px) {
  .title h1 {
    font-size:  clamp(2.9rem, 5.1vw, 3.2rem);
  }

  .textContainer p {
    font-size: 1.2rem;
  }

  .socialLink {
    top: 6rem;
    bottom: 65vh;
  }
} 

@media only screen and (max-width: 640px) and (min-width: 480px) { 
  .container {
    width: 90%;
  }

  .h1C {
    width: 100%;
    height: max-content;
    max-height: 3.5rem;
  }

  .textContainer h1 {
    font-size: clamp(1rem, 7.5vw, 2.9rem);
  }

  .textContainer p {
    font-size: clamp(1rem, 3.2vw, 1.25rem);
  }

  .socialLink {
    top: 6rem;
    bottom: 65vh;
  }

  .contactLink {
    margin-top: 3%;
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) { 
  .container {
    width: 95%;
  }

  .h1C {
    width: 100%;
    height: max-content;
    max-height: 6rem;
  }

  
  .title {
    position: relative;
    flex-direction: column;
    width: 100%;
  }
  
  .title span:nth-child(3) {
    position: absolute;
    width: 100%;
    height: .01rem;
    bottom: 25%;
    left: 0;
    width: 35%;
    background-color: var(--global-color-primary);
  }

  .title span:nth-child(4) {
    position: absolute;
    width: 100%;
    height: .01rem;
    top: 25%;
    right: 0;
    width: 35%;
    background-color: var(--global-color-primary);
  }

  .title h1:nth-child(1) {
    font-size: clamp(1rem, 8.8vw, 2.6rem);
  }
  
  .title h1:nth-child(2) {
    justify-content: flex-end;
    width: 100%;
    font-size: clamp(1rem, 8.8vw, 2.6rem);
  }

  .pC {
    width: 100%;
  }

  .pC p {
    font-size: clamp(0rem, 3.4vw, 1rem);
  }

  .contactLink {
    margin-top: 3%;
  }

  .socialLink {
    top: 6rem;
    bottom: 70vh;
  }

}