.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 7rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  max-width: 70rem;
  gap: 2rem;
  margin-bottom: 6rem;
}

.container img {
  object-fit: contain;
}

.title  {
  font-size: 2.5rem;
}

.select {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 1rem;
}

.select select {
  width: 12rem;
  height: 3rem;
  padding-left: 1rem;
  border: 1px solid var(--global-color-primary);
  background-color: var(--global-color-secondary);
}

.select p {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0;
  height: 100%;
}

.select p * {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  height: 2rem;
}

.select p a {
  text-decoration: none;
  color: var(--global-color-primary);
}

.select p span {
  width: 100%;
  display: flex;
  align-items: center;
  gap: .3rem;
}

.projectPerview {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

@media only screen and (max-width: 1024px) and (min-width: 640px) {
  .container {
    width: 85%;
    gap: 0rem;
  }
  
  .resumePic {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    max-width: 637px;
    max-height: 898px;
  }
  
  .container img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    object-fit: contain;
    width: 80%;
    height: max-content;
    margin-top: 1.5rem;
  }

  .select {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1rem;
  }

  .select p {
    font-size: 1rem;
    justify-content: flex-start;
  }

  .select select {
    margin-top: -.5rem;
  }
}

@media only screen and (max-width: 640px) and (min-width: 480px) {
  .container {
    width: 90%;
    gap: 0rem;
  }
  
  .resumePic {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    max-width: 637px;
    max-height: 898px;
  }
  
  .container img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    object-fit: contain;
    width: 80%;
    height: max-content;
    margin-top: 1.5rem;
  }

  .select {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 0;
  }

  .select div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0 .3rem;
  }
  
  .select p {
    font-size: clamp(1rem, 10vw, 1.3rem);
  }
  
  .select a {
    color: var(--global-color-primary);
    text-decoration: none;
  }

  .select select {
    margin-top: .5rem;
  }
}

@media only screen and (max-width: 480px) and (min-width: 0) { 
  .container {
    width: 95%;
    gap: 0rem;
  }
  
  .resumePic {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    max-width: 637px;
    max-height: 898px;
  }
  
  .container img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    object-fit: contain;
    width: 80%;
    height: max-content;
    margin-top: 1.5rem;
  }

  .select {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1rem;
  }

  .select div {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0 .3rem;
  }
  
  .select p span {
    font-size: clamp(.5rem, 7.2vw, 1.3rem);
  }
  
  .select a {
    color: var(--global-color-primary);
    text-decoration: none;
  }

  .select select {
    margin-top: -.5rem;
  }
}